FIREBASE_API_KEY=AIzaSyDXVwVPKhI0K42uP2F-I_B7X1cL7HOPx84
FIREBASE_AUTH_DOMAIN=workfirebase-d1f20.firebaseapp.com
FIREBASE_PROJECT_ID=workfirebase-d1f20
FIREBASE_STORAGE_BUCKET=workfirebase-d1f20.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=767357972439
FIREBASE_APP_ID=1:767357972439:wexb:8ee919b24c2d1a5b8b6592
FIREBASE_MEASUREMENT_ID=G-KSQHKZ0Q4B



# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
